@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to håndværkerstedet</h1>

</div>

<p>Press Submit to get all haandvaerkers</p>

<form method="get">
    Name: GET
    <input type="submit" />
</form>
